body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }

#container {
    display: flex;
}

#line {
    width: 1%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 25%;
}

.character {
    background:url("image/sidewalk.png");
    width:206px;
    height: 292px;
    position: absolute;
    left: -206px;
    bottom: 25%;
}
.character:nth-child(1) {
    animation: 
        walk 1s steps(8) 2s 5,
        forward 5s linear 2s,
        turn 0.2s steps(2) 7s;
    animation-fill-mode: forwards;
} 

@keyframes walk {
    0% {
        background-position: 0px;                
    }
    100% {
        background-position: -1648px;                
    }
}
@keyframes forward {
    from {
        left: -206px;
    }
    to {
        left: 70vw;
    }
}
@keyframes turn {
    0% {
        background-position: -1442px;
    }
    100% {
        background-position: -1854px;
    }
}
.character:nth-child(2) {
    animation: 
        walk 1s steps(8) 7s 4,
        forward2 3s linear 7s,
        turn 0.2s steps(2) 10s;
    animation-fill-mode: forwards;
} 
@keyframes forward2 {
    from {
        left: -206px;
    }
    to {
        left: 45vw;
    }
}
.character:nth-child(3) {
    animation: 
        walk 1s steps(8) 10s 3,
        forward3 2s linear 10s,
        turn 0.2s steps(2) 12s;
    animation-fill-mode: forwards;
} 
@keyframes forward3 {
    from {
        left: -206px;
    }
    to {
        left: 20vw;
    }
}

 
/*
 .img {
    height: 292px;
    width: 206px;

    background-image: url("source/sidewalk.png");
    background-repeat: no-repeat;
    flex-direction: column;
    position: absolute;
    bottom: 25%;
    left: -220px;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
} 

.img:nth-child(1) {
    animation-name: firstCharacter;
    animation-delay: 2s;
    animation-duration: 3s;
}

@keyframes firstCharacter {
    from {left: 0px;}
    to {left: 70vw;}
}

.img:nth-child(2) {
    animation-name: sceondCharacter;
    animation-delay: 5s;
    animation-duration: 2s;
}

@keyframes sceondCharacter {
    from {left: 0px;}
    to {left: 42vw;}
}

.img:nth-child(3) {
    animation-name: thirdCharacter;
    animation-delay: 7s;
    animation-duration: 1s;
}

@keyframes thirdCharacter {
    from {left: 0px;}
    to {left: 15vw;}
}

#line {
    width: 1%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 25%;
}
*/