h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', 'Open Sans', sans-serif;
}

body {
    font-family: 'Muli', 'Open Sans', sans-serif;
    margin: 0;   
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.material-icons {
    vertical-align:-14%;
}

/* ---------------------------- Index.HTML ---------------------------- */
/* ---------------- hero section ---------------- */

#homeHero {
    background-image: url("image/homeHeroBkg.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 115px;
}

header {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
}

header .inner {
    max-width: calc(1440px * 0.8);
    overflow: hidden;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.nav {
    float: right;
    height: 80px;
}

.nav li {
    display: inline-block;
}

.navAboutContact {
    float: right;
    height: 80px;
}

/* .navAboutContact li {
    display: inline-block;
} */

.navLinks {
    padding: 0 25px;
    display: inline-block;
    line-height: 80px;
    font-size: 12pt;
}

.mobileMenu {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(66, 66, 66);
    margin: 6px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 8px;
}

a {
    color: black;
    text-decoration: none;    
 /* line-height: 80px; 
    padding: 0 25px;
    font-weight: 200; 
    font-size: 12pt;
    灰色部分应该写在对应的元素，全局最小影响 */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
}

li {
 /*   display: inline-block; */
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 16pt;
}

#homeHero h1 {
    text-align: center;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    font-size: 36pt;
    font-weight: 600;
    margin-bottom: 50px;
    color: white;
    }

#homeHero h4 {
    text-align: center;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    font-size: 18pt;
    font-weight: 400;
    margin-bottom: 50px;
    color: white;
}

.flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(1440px * 0.7);
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

#searchBar {
    margin: 0 4%; 
    text-align: center;
/*    display: flex; */

    /* flex 默认系row, 所以唔洗写。 flex-direction: row; */
}

.searchInput {
    font-size: 12pt;
    height: 50px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    width:100%;
}

.submitButton {
    width: 250px;
    height: 50px; 
    background-color: rgb(255, 196, 0);
    color: white;
    font-size: 15pt;
    font-weight: 200;
    border-radius: 0px 8px 8px 0px;
    margin: 0;
    border: none;
  /*  word-spacing: 5px; */
    letter-spacing: 0.8px;
}

input {
    padding: 0 0 0 20px;
}

::-webkit-input-placeholder {
    color: rgb(187, 187, 187);
    font-size: 10pt;
    font-weight: 100;
    font-style: italic;
}

:-ms-input-placeholder {
    color: rgb(187, 187, 187);
    font-size: 10pt;
    font-weight: 100;
    font-style: italic;
}

::-ms-input-placeholder {
    color: rgb(187, 187, 187);
    font-size: 10pt;
    font-weight: 100;
    font-style: italic;
}

::placeholder {
    color: rgb(187, 187, 187);
    font-size: 10pt;
    font-weight: 100;
    font-style: italic;
}

/* ---------------- how it work section ---------------- */

.centerbkh3 {
    color: rgb(66, 66, 66);
    text-align: center;
    font-size: 26pt;
    font-weight: 600;
    margin-top: 0;
}

img {
    vertical-align: top;
    border: 0;
    max-width: 100%;
}

.howItWorkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(1440px * 0.7); 
    margin: 0 auto;
/*    box-sizing: border-box;
    padding: 0 3%; */ 
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#howItWork {
    background-color: rgb(255, 250, 245);
}

.colm {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
/*    margin: 20px; */ 
}

.colm:nth-child(2) {
    margin: 0 40px;
}

p {
    font-size: 16pt;
    font-weight: 400;
    color: rgb(66, 66, 66);
    white-space: normal;
}

/* ---------------- our mission section ---------------- */
.flexContainer2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(1440px * 0.6);
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

#mission {
    background-image: url("image/mission.jpg");
/*    height: 280px;    */
    background-repeat: no-repeat;
    background-size: cover;
}

.centerwhh3 {
    text-align: center;
    font-size: 28pt;
    font-weight: 600;
    margin-top: 0;
    color: white;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

#mission p {
    color: white;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    font-weight: 200;
    line-height: 30px;
    text-align: center;
}

/* ---------------- homeBottomSearch section ---------------- */

#homeBottomSearch {
    background-color: rgb(255, 250, 245);
}

#searchBar2 {
 /*   border: 1px solid;
    border-radius: 8px; */
    margin: 0 1%;
}

#searchBar2 input {
    border-radius: 8px 0px 0px 8px;
    border: 1px solid;
    height: 48px;
    border-right: 0;
    border-color: rgb(224, 224, 224);
}

#homeBottomSearch p {
    margin-bottom: 50px;
}

footer p {
    font-size: 9pt;
    font-weight: 200;
    text-align: right;
    color: rgb(66, 66, 66);
}

footer {
    background-color: white;
}

/* ----------------------- allresults.html STARTS HERE ----------------------- */
/* ------------------------------------------------------------------ */
/* Search Bar in Nav for ALLRESULTS page*/
#navSearchBar {
    position: relative;
    display: inline-block;
    /* parent element 100% width - logo total width(logo weidth+logo left&right margin)*/
    width: calc(100% - 125px);
    /* widest is 550px*/
    max-width: 550px;
    margin-top: 15px;
    margin-right: 25px;
}

.navSearchInput {
    width: 100%;
    max-width: 550px;
    font-size: 12pt;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(214, 214, 214);
    padding-left: 60px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; 
           
}

/* 放大镜圆形 */
.mglass {
    position: absolute;
    display:inline-block;
    background: #fff;
    border-radius: 30px;
    height: 16px;
    width: 16px;
    border: 2px solid rgb(180, 180, 180);
    top: 15px;
    left: 15px;
}
/* 放大镜手柄 */
.mglass:after {
    content: "";
    height: 2px;
    width: 7px;
    background: rgb(180, 180, 180);
    position:absolute;
    top:14px;
    left:10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.divideLine {
    height: 1px;
    width: 100%;
    background: rgb(214, 214, 214);
}
/* Search Bar in Nav for ALLRESULTS page*/

/* ---------------- found section ---------------- */
#found {
    padding-top: 130px;
    padding-bottom: 50px;
}

#allResults {
    padding-top: 50px;
    padding-bottom: 50px;
}

.underline {
    border-bottom: 2px solid #FC5904;
}

/* ---------------- All Results section ---------------- */

.dishNameh5 {
    font-size: 16pt;
    margin: 20px 0;
}

.material-icons {
    color: #FC5904;
}

.ingContent {
    white-space: normal; /* white-space:normal使text wrap */
}

.ingSummary li {
    margin-bottom: 15px;
}

#found h3 {
    padding: 0 3%;
}

.pageNumber {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 400px;
    margin: 0 auto;
}

.oneToEnd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
}

.oneToEnd li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 auto;
}

.pageArrow {
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
}

.activePage {
    color: #239500;
    border: 1px solid #239500;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    background: #239500;
    color: white;
}

.pageNumber p {
    font-size: 12pt;
    font-weight: 200;
    text-align: center;
}

/* ----------------------- singleResult.html PAGE STARTS HERE ----------------------- */
/* ---------------------------  hero section  ----------------------------- */
#ingOverview {
    padding: 150px 0 70px 0;
}

.Container1008 {
    max-width: calc(1440px * 0.7); 
    margin: 0 auto;
/*    box-sizing: border-box;
    padding: 0 3%; */ 
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.divideLine2 {
    height: 1px;
    width: 100%;
    background: rgb(214, 214, 214);
    margin: 50px 0;
}

.ov3070container {
    max-width: calc(1440px * 0.7);
    margin: 0 auto; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
}

.ovLeft {
    float: left;
    width: 30%;
    background-image: url("image/ovleftimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ovRight {
    float: right;
    width: 70%;
    padding-left: 30px;
}

.ovRight-left {
    float: left;
    width: 50%; 
}

.ovRight-right {
    float: right;
    width: 50%; 
} 

/* ---------------------------  cooking steps section  ----------------------------- */
#cookingSteps {
    padding-top: 50px;
}

.Container1008 img {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.bgText {
    font-size: 30pt;
    font-weight: 800;
    color: #FC5904; 
}

/* ---------------------------  related dishes section  ----------------------------- */
#relatedDishes {
    padding-top: 50px;
}

#relatedDishes .Container1008 h3 {
    margin-bottom: 25px;
}

.Container1008flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(1440px * 0.7);
    margin: 0 auto;
}

.colmW33 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

 .colmW33:nth-child(2) {
     margin: 0 40px;
}

#refreshRelatedDishes {
    text-align: center;
    margin-top: 30px;
}

#refreshRelatedDishes i{
    color: #239500;
}

/*-------------------------------- responsive for all pages -------------------------------- */

/* screen size 1080px */
@media  (max-width: 1080px) {
    .howItWorkContainer, .flexContainer2, .ov3070container, .Container1008, .Container1008flex  { 
        -webkit-box-sizing: border-box; 
                box-sizing: border-box;
        padding: 0 3%;  
    }
}


/* --------------------------------- tablet: screen size 979px --------------------------------- */

@media (max-width: 979px) {
    section {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .nav {
        margin-left: 3%;
        margin-right: 3%;
    }

/*    .navAboutContact {
        margin-left: 3%;
        margin-right: 3%;
    } */

    #homeHero {
        background-image: url("image/homeHeroBkg979.jpg");
        background-position: center;
    }
    .flexContainer, .flexContainer2, {
        margin: 0 3%;
    }

} 

/* -------------------------- tablet: screen size 945px -------------------------- */
/* -------------------------- for allResults.html page -------------------------- */
@media (max-width: 945px) {

    .navAboutContact {
        display: none;
    }

    #navSearchBar {
        margin-bottom: 15px;
    }

    /* ---------------------- for singleResult.html page --------------------- */    
    .ov3070container {
        display: flex;
        flex-direction: column;
    }

    .ovLeft {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;     
    }

    .ovRight {
        padding: 0;
        width: 100%;
    }

}

/* -------------------------------- mobile: screen size 480px -------------------------------- */
/* ----------------- index.html ----------------- */
/* ---------------- Nav ---------------- */
@media (max-width: 480px) {
    .logo {
        margin-top: 10px;
    }

    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    footer p {
        text-align: center;
    }

    p {
        font-weight: extra-bold;
    }

    .inner {
        overflow: hidden; 
        height: 80px; /* 有三条横线的白色bar既高度有80px */
    }

    .nav {
        margin: 0;
        overflow: hidden; /* nav不会显示，因为用overflow将溢出的部分隐藏了 */
        height: 0;
        position: fixed;
        top: 80px;    /* 距离上边距有80px */
        width: 100%;
        -webkit-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s; /* 加上transition使它看上去有动态效果 */
        background-color: rgba(255, 255, 255, 0.9);
    }

    /* 当这个nav打开的时候，就把整个高度显示出来 */
    .nav.open {
        height: 130px;
    }

    .mobileMenu {
        display: block;
        float: right;
        margin-right: 5%;
        margin-top: 20.5px;;    
    }

    .mobileMenu.open .bar1 {
        -webkit-transform: translate(0px, 11px) rotate(45deg);
            -ms-transform: translate(0px, 11px) rotate(45deg);
                transform: translate(0px, 11px) rotate(45deg);
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
    }
    .mobileMenu.open .bar2 {
        opacity: 0;
    }   
    .mobileMenu.open .bar3 {
        -webkit-transform:  translate(0px, -11px) rotate(-45deg);
            -ms-transform:  translate(0px, -11px) rotate(-45deg);
                transform:  translate(0px, -11px) rotate(-45deg);
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
    }

    .nav ul {
        padding: none;
    }

    .nav li {
        display: block;
        height: 60px;
    }

/* ---------------- hero ---------------- */
    #homeHero {
        background-image: url("image/homeHeroBkg480.jpg");
        background-position: center;
        padding-top: 100px
    }

    h1 {
        font-size: 36pt;
    }

    h3 {
        font-size: 20pt;
    }

    form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .searchInput {
        border-radius: 8px;
        margin-bottom: 30px;
    }
    
    .submitButton {
        border-radius: 8px;
        width: 100%
    }

/* ---------------- how it work section ---------------- */

    .howItWorkContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;  
        margin: 0 10%; 
    }

    .colm {
       margin: 0;
       /* text-align: center; */
       margin-bottom: 30px;
    }

    .colm:nth-child(2) {
        margin: 0 0 30px 0;
    }

    .colm:nth-child(3) {
        margin-bottom: 0;
    }

/* ---------------- mission section ---------------- */

    #searchBar2 input {
        border-radius: 8px;
        border: 1px solid;
        height: 48px;
        border-color: rgb(224, 224, 224);
    }

/* ----------------- singleResult.html ----------------- */

    #ingOverview {
        padding-top: 80px;
    }

    .ov3070container {
        padding: 0;
    }

    .ovRight {
        padding: 0 3%;
    }

    #cookingSteps {
        padding-top: 15px;
    }

    .ovRight-left, .ovRight-right {
        width: 100%;
    }

    .Container1008flex {
        flex: 1;
    }

    .divideLine2 {
        margin: 50px 0 30px 0;
    }

    .ovRight-left {
        margin-bottom: 20px;
    }

    .colmW33:nth-child(1) {
        padding-right: 10px;
    }

    .colmW33:nth-child(2) {
        margin: 0;
    }

    .colmW33:nth-child(3) {
        padding-left: 10px;
    }
}
